.site-programs__photo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 600px;
	background-image: url(../img/pic4.jpg);
	background-size: 100%;
	background-repeat:no-repeat; 
	background-position: top bottom;
}
.site-programs__title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	z-index: 100;
	color: #fffdff;
	font-size: 110px;
	text-transform: uppercase;
}
@media (max-width: 1200px) {
	.site-programs__photo {
		justify-content: flex-start;
		height: 500px;
	}
	.site-programs__photo h1 {
		font-size: 100px !important;
		margin-top: 120px;
	}
}
@media (max-width: 1000px) {
	.site-programs__photo {
		justify-content: flex-start;
		height: 400px;
	}
	.site-programs__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-programs__photo img {
		width: 400px;
	}
}
@media (max-width: 767px) {
	.site-programs__photo {
		justify-content: flex-start;
		height: 300px;
	}
	.site-programs__photo h1 {
		font-size: 50px !important;
		margin-top: 40px !important;
	}
	.site-programs__photo img {
		width: 250px;
	}
}
@media (max-width: 510px) {
	.site-gallery__photo {
		justify-content: flex-start;
		height: 220px;
	}
	.site-gallery__photo h1 {
		font-size: 40px !important;
		margin-top: 40px !important;
	}
	.site-gallery__photo img {
		width: 200px;
	}
}
@media (max-width: 450px) {
	.site-programs__photo {
		justify-content: flex-start;
		height: 180px;
	}
	.site-programs__photo h1 {
		font-size: 40px !important;
		margin-top: 30px !important;
	}
	.site-programs__photo img {
		width: 200px;
	}
}