@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
	url("../fonts/Poppins-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
	url("../fonts/Poppins-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
	url("../fonts/Poppins-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
body {
	font-family: "Poppins", "Arial", sans-serif;
	font-weight: normal;
	padding: 0 !important;
	margin: 0 !important;
}
.site-messages__icon {
	text-decoration: none !important;
	margin: 0 16px 0 16px;
	font-size: 25px;
	color: #004089; 
}
.site-messages__icon:hover {
	color: #dc3545;
}
.site-search__icon {
	position: absolute;
	left: 77.66%;
}
.site-nav__link:hover {
	background-color: #dc3545; 
}
.site-button:hover {
	background-color: #fff !important;
	color: #dc3545 !important;
	border: 1px solid transparent;
}
.site-section__carusel {
	background-color: #004897;
}
.site-carousel__boxs {
	padding-bottom: 80px !important;
}
.site-carousel__box {
	border-radius: 20px;
}
.carousel-indicators li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	top: 50%;
	bottom: auto;
	border-radius: 15px;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
}
.site-carousel__img {
	border-radius: 50%;
}
.site-bg__photo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 600px;
	background-image: url(../img/pic2.jpg);
	background-size: 100%;
	background-repeat:no-repeat; 
	background-position: top bottom;
}
.site-home__photo {
	padding-bottom: 200px;
}
.site-home__photo h1 {
	font-size: 110px !important;
}
.site-bg__title {
	font-style: normal;
	font-weight: bold;
	color: #fffdff;
	font-size: 110px;
	text-transform: uppercase;
}
.footer__link {
	font-size: 20px;
}
.footer__link span:hover {
	color: #dc3545 !important;
}
.site-bg__contacts {
	background-color: #1f3971;
}
.site-contacts__span:hover {
	color: #dc3545 !important; 
}
.site-news__box:hover button {
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}
.site-news__box a {
	text-decoration: none;
	color: black;
}
.site-news__box a:hover {
	color: #dc3545;
}
.site-news__span {
	font-size: 12px;
}
.site-newsmenu__flag {
	display: none !important;
}
.color {
	color: #dc3545; 
}
@media (max-width: 1200px) {
	.site-bg__photo {
		justify-content: flex-start;
		height: 500px;
	}
	.site-bg__photo h1 {
		font-size: 100px !important;
		margin-top: 120px;
	}
	.site-home__photo {
		padding-bottom: 150px;
	}
	.site-home__photo h1 {
		font-size: 100px !important;
		margin-top: 120px;
	}
	.site-about__boxs {
		display: block !important;
		margin-right: 0 !important;
		text-align: center;
	}
	.site-footer__box p {
		text-align: left;
	}
}
@media (max-width: 1000px) {
	.site-bg__photo {
		justify-content: flex-start;
		height: 400px;
	}
	.site-home__photo {
		padding-bottom: 150px;
	}
	.site-bg__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-bg__photo img {
		width: 400px;
	}
	.site-home__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-home__photo img {
		width: 400px;
	}
}
@media (max-width: 995px) {
	.site-home__photo {
		padding-bottom: 140px;
	}
	.site-messages__icon {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	.site-search__icon {
		left: 25%;
	}
	.site-container__item {
		width: auto !important;
		margin: 0 auto;
	}
	.site-container__lists {
		display: block !important;
	}
	.site-container__img {
		text-align: center !important;
	}
	.site-container__img img {
		width: 70% !important;
		height: 70% !important;
	}
	.site-container__box {
		width: auto !important;
		margin-left: 0 !important;
		margin-top: 10px;
	}
	.site-container__box h3, p {
		text-align: center;
	}
	.site-button__box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.site-button {
		font-size: 12px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-top: 15px !important;
	}
	.site-carousel__box {
		padding: 5px 10px !important;
		width: auto !important;
		font-size: 12px !important;
	}
	.site-footer__form {
		width: auto;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		top: 50%;
		bottom: auto;
		border-radius: 15px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
	}
	.site-home__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-home__photo img {
		width: 400px;
	}
}
@media (max-width: 992px) {
	.site-newsbox {
		display: none!important;
	}
	.site-newsbox {
		display: none!important;
		margin-left: auto !important;
	}
	.site-newsmenu__flag {
		display: flex !important;
		margin-left: 0 !important;
	}
	.site-messages__icon {
		font-size: 20px!important;
	}
	.site-home__photo {
		padding-bottom: 140px;
	}
}
@media (max-width: 991px) {
	.site-newsbox {
		display: block!important;
	}
	.site-news__flag {
		display: none!important;
	}
	.site-home__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-home__photo img {
		width: 400px;
	}
	.site-home__photo {
		padding-bottom: 130px;
	}
}
@media (max-width: 850px) {
	.site-home__photo {
		padding-bottom: 110px;
	}
	.site-messages__icon {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	.site-search__icon {
		left: 25%;
	}
	.site-container__item {
		width: auto !important;
		margin: 0 auto;
	}
	.site-container__boxs {
		display: block !important;
	}
	.site-container__img {
		text-align: center !important;
	}
	.site-container__img img {
		width: 70% !important;
		height: 70% !important;
	}
	.site-container__box {
		width: auto !important;
		margin-left: 0 !important;
		margin-top: 10px;
	}
	.site-container__box h3, p {
		text-align: center;
	}
	.site-button__box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.site-button {
		font-size: 12px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-top: 15px !important;
	}
	.site-carousel__box {
		padding: 5px 10px !important;
		width: 25% !important;
		font-size: 12px !important;
	}
	.site-container__box-item {
		display: block !important;
	}
	.site-carousel__avatar {
		margin-left: 0px !important;
	}
	.site-footer__form {
		width: auto !important;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		top: 50%;
		bottom: auto;
		border-radius: 15px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
	}
	.site-footer__boxs {
		display: block !important;
	}
	.site-footer__item {
		margin-right: 0 !important;
	}
	.site-footer__box {
		margin-left: 0 !important;
		margin-top: 40px !important;
	}
	.site-home__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-home__photo img {
		width: 400px;
	}
}
@media (max-width: 790px) {
	.site-carousel__box {
		width: 25% !important;
	}
	.site-home__photo h1 {
		font-size: 80px !important;
		margin-top: 100px !important;
	}
	.site-home__photo img {
		width: 400px;
	}
	.site-home__photo {
		padding-bottom: 100px;
	}
}
@media (max-width: 767px) {
	.site-bg__photo {
		justify-content: flex-start;
		height: 300px;
	}
	.site-home__photo {
		padding-bottom: 95px;
	}
	.site-bg__photo h1 {
		font-size: 50px !important;
		margin-top: 40px !important;
	}
	.site-bg__photo img {
		width: 250px;
	}
	.site-home__photo h1 {
		font-size: 50px !important;
	}
	.site-home__photo img {
		width: 250px;
	}
	.site-bg__item {
		margin-right: 0 !important;
	}
	.site-contacts__ifrem {
	margin-top: 20px !important;
}
}
@media (max-width: 765px) {
	.site-search__icon {
		left: 33%;
	}
	.site-container__img img {
		width: 70% !important;
		height: 70% !important;
		text-align: center;
	}
	.site-carousel__box {
		width: 32% !important;
	}
	.site-home__photo {
		padding-bottom: 95px;
	}
	.site-home__photo h1 {
		font-size: 50px !important;
	}
	.site-home__photo img {
		width: 250px;
	}	
}
@media (max-width: 670px ){
	.site-messages__icon {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	.site-search__icon {
		left: 34%;
	}
	.site-container__item {
		width: auto !important;
		margin: 0 auto;
	}
	.site-container__boxs {
		display: block !important;
	}
	.site-container__img img {
		width: 100% !important;
		height: 100% !important;
	}
	.site-container__box {
		width: auto !important;
		margin-left: 0 !important;
		margin-top: 10px;
	}
	.site-button__box {
		display: flex;
		align-items: center;
	}
	.site-button {
		font-size: 12px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-top: 15px !important;
	}
	.site-carousel__box {
		padding: 5px 10px !important;
		width: 50% !important;
		font-size: 12px !important;
		margin-right: 0 !important;
	}
	.site-carousel__box p {
		text-align: center !important;
	}
	.site-carousel__box:nth-child(2n) {
		display: none !important;
	}
	.site-carousel__box:nth-child(3n) {
		display: none !important;
	}
	.site-container__box-item {
		display: block !important;
	}
	.site-carousel__avatar {
		margin-left: 0px !important;
	}
	.site-footer__form {
		width: auto;
	}
	.site-home__photo {
		padding-bottom: 95px;
	}
	.site-home__photo h1 {
		font-size: 50px !important;
	}
	.site-home__photo img {
		width: 250px;
	}
}
@media (max-width: 550px) {
	.site-carousel__box {
		padding: 5px 10px !important;
		width: 60% !important;
		font-size: 12px !important;
		margin-right: 0 !important;
	}
	.site-carousel__box p {
		text-align: center !important;
	}
	.site-carousel__box:nth-child(2n) {
		display: none !important;
	}
	.site-carousel__box:nth-child(3n) {
		display: none !important;
	}
	.site-about__boxs img {
		width: 350px !important;
		height: 350px !important;
	}
	.site-home__photo {
		padding-bottom: 70px;
	}
	.site-home__photo h1 {
		font-size: 50px !important;
	}
	.site-home__photo img {
		width: 250px;
	}
}
@media (max-width: 510px) {
	.site-bg__photo {
		justify-content: flex-start;
		height: 220px;
	}
	.site-bg__photo h1 {
		font-size: 40px !important;
		margin-top: 40px !important;
	}
	.site-bg__photo img {
		width: 200px;
	}
	.site-home__photo img {
		width: 200px;
	}
	.site-bg__item {
		margin-right: 0 !important;
	}
	.site-home__photo {
		padding-bottom: 60px;
	}
	.site-home__photo h1 {
		font-size: 40px !important;
	}
	.site-home__photo img {
		width: 200px;
	}
}
@media (max-width: 450px) {
	.site-bg__photo {
		justify-content: flex-start;
		height: 180px;
	}
	.site-bg__photo h1 {
		font-size: 40px !important;
		margin-top: 30px !important;
	}
	.site-home__photo h1 {
		font-size: 40px !important;
		margin-top: 30px !important;
	}
	.site-bg__photo img {
		width: 200px;
	}
	.site-home__photo img {
		width: 200px;
	}
	.site-bg__item {
		margin-right: 0 !important;
	}
	.site-about__boxs img {
		width: 250px !important;
		height: 250px !important;
	}
	.site-home__photo {
		padding-bottom: 50px;
	}
	.site-home__photo h1 {
		font-size: 40px !important;
	}
	.site-home__photo img {
		width: 200px;
	}
}
@media (max-width: 395px) {
	.site-home__photo {
		padding-bottom: 30px;
	}
	.site-home__photo h1 {
		font-size: 40px !important;
	}
	.site-home__photo img {
		width: 200px;
	}
}
@media (max-width: 336px) {
	.site-home__photo {
		padding-bottom: 20px;
	}
	.site-home__photo h1 {
		font-size: 30px !important;
	}
	.site-home__photo img {
		width: 200px;
	}
}